@page "/"

@using webShop.Model
@using webShop.Abstractions
@inject IItemService _itemsService


<h1>Laurent's tech shop</h1>
<h2>Current items for sale:</h2>
<div class="items__wrapper">
    @foreach (var item in _shopItems)
    {
        <div class="item__wrapper">
            <img src="@item.ImagePath" alt="@item.Name">
            <div class="item__text--wrapper">
                <h3 class="item__name">@item.Name</h3>
                <p class="item__description">@item.Description</p>
                <p class="item__price">@item.Price</p>
                <p class="item__button" @onclick="async () => await AddToCartAsync(item.Id)">Add To Cart</p>
            </div>
        </div>
    }
</div>


@code{
    private List<ShopItem>? _shopItems { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _shopItems = await _itemsService.GetItemsAsync();
        StateHasChanged();
    }

    private async Task AddToCartAsync(int itemId)
    {
        //todo implement cartservice
    }

}