@page "/"

@using webShop.Model
@using webShop.Abstractions
@inject IItemService ItemsService
@inject ICartService CartService

@inject NavigationManager NavigationManager

<article class="main__wrapper">
    <section class="header__wrapper">
        <div class="title__wrapper">
            <h1>Laurent's tech shop</h1>
        </div>
        <div class="cart__wrapper" @onclick="NavigateToCart">
            <img src="Assets/cart.svg" alt="cart">
            <p class="cart__count">@Count</p>
        </div>
    </section>
    <section class="items__wrapper">
        @foreach (var item in ShopItems)
        {
            <div class="item__wrapper">
                <img class="item__image" src="@item.ImagePath" alt="@item.Name">
                <div class="item__text--wrapper">
                    <h3 class="item__name">@item.Name</h3>
                    <p class="item__description">@item.Description</p>
                    <p class="item__price">@item.Price</p>   
                    <p class="item__button" @onclick="async () => await AddToCartAsync(item.Id)">Add To Cart</p>
                </div>
            </div>
        }
    </section>

</article>


@code{
    private List<ShopItem> ShopItems { get; set; } = new(); 
    private int Count { get; set; }

    protected override async Task OnInitializedAsync()  
    {
        await base.OnInitializedAsync();
        ShopItems = await ItemsService.GetItemsAsync();
        Count = CartService.GetNumberOfItemsInCart();
        StateHasChanged();
    }

    private async Task AddToCartAsync(int itemId)
    {
        var item = await ItemsService.GetByIdAsync(itemId);
        CartService.AddToCart(item);
        Count = CartService.GetNumberOfItemsInCart();
        StateHasChanged();
    }

    private  void NavigateToCart()  
    {
        NavigationManager.NavigateTo("Cart");
    }

}